{% extends "base.html"%} 

{%block title %}Interview{% endblock %}

{%block content %}
<div class="container-fluid">
    <!--header-->
    <div class="row p-4 justify-content-center align-items-center">
        <div class="col-lg-8 text-center">
            <h1>INTERVIEW QUESTIONS IN AN INSTANT!</h1>
        </div>
    </div>

    <!--text boxes-->
    <form method = "POST">
    <div class="row p-4 align-items-center">
        <div class="col text-center">
            <div class="form-group">
                <label for = "jobDescriptionInput">Input Job Description (copy and paste)</label>
                <textarea class = "form-control" id = "jobDescriptionInput" rows = "5"></textarea>
            </div>
        </div>
        <div class="col text-center">
            <div class="form-group">
                <label for = "resumeInput">Input Resume (copy and paste)</label>
                <textarea class = "form-control" id = "resumeInput" rows = "5"></textarea>
            </div>
        </div>
    </div>
    <div class="row align-items-center p-4">
        <div class="column text-center">

            <button class="btn btn-primary" type = "submit" href = "/interview-questions">Generate Questions</button>   
        </div>
    </div>
    </form>

</div>


{% endblock %}