{% extends "base.html"%} 

{%block title %}Interview{% endblock %}

{%block content %}
<div class="container-fluid">
    <!--header-->
    <div class="row p-4 justify-content-center align-items-center">
        <div class="col-lg-8 text-center">
            <h1>Your Tailored Interview Questions</h1>
        </div>
    </div>
    
    <h3>{{response["greeting"]}}</h3>
    <ul>
        {% for item in response["questions"] %}
            <li>{{item}}</li>
        {% endfor %}
    </ul>



</div>


{% endblock %}